.navbar {
  height: 5rem;
  background-color: #003580;
  display: flex;
  justify-content: center;

  .container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 500;
  }

  &__items {
    &__button {
      margin-left: 2rem;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      color: #003580;
    }
  }
}
